*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1em;
}
body{
    background-color: #99E7FD;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color:#5F5F5F
}
.zen-old-mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
.sacramento-regular {
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    font-size: 48px;
    font-weight: normal;

} 
h2{
    font-size: 24px;
    font-weight: bold;
    
}
h3{
    /* font-size: large;
     */
     font-size: 24px;
}
.container{
    position: relative;
    width: 100%;
    height: 100vw;
}
.path-container{
    position: absolute;
    z-index: 2;
    top: 150px;
    right: 50%; /* 親要素の右端から中央までの位置に配置 */
    /* transform: translateX(100%);  */
    width: 489px;
    height: 2209px;
    
}
.titleM {
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;/* 縦並びにするにはこうすると楽 */
  align-items: center;
}
.titleJ{
    z-index: 5;
}
.titleE {
    margin-top: 10px;
    z-index: 5;
}
.fish1{
    position: absolute;
    z-index: 1;
    margin-bottom: 10vw;
    transform:translate(-50%, -50%); 
    top: 30px;
    left: 50%;
}
.petb{
    top:600px;
    left: 450px;
    position: absolute;
}
.scene2{
    /* margin-top: 40vw; */
    /* align-items: flex-end; */
    position: relative;
    height: 2500px;
}
.graph-container{
    position: absolute;
    width: 417px;
    height: 417px;
    top: 200px;
    right: 200px;
    /* background: #000; */
}
.graph-container img{
    position: absolute;
}
.graph-container p{
    position: absolute;
}
.percent1{
    top: 200px;
    left: 300px;
    font-size: 32px;
    color: #BC2B2B;
}
.percent2{
    top: 250px;
    left: 57px;
    font-size: 32px;
    color: #FFF;
}
.percent1img{
    top: 130px;
    left: 295px;
}
.percent2img{
    top: 170px;
    left: 33px;
}
.floattext{
    position: absolute;
}
.whitetext{
    width: 700px;
    height: 50px;
    position: absolute;
    /* 横方向に真ん中に持ってくる */
    left: 50%;
    transform:translate(-50%, 0); 
    background-color: #fff;;
    
}
.whitetext h3{
    line-height: 50px;
    margin-left: 20px;
}
/* .s2{
    /* float: right; */
    /* font-size: 24px} */
/* .s2h1{ */
    /* float: right; */
    /* font-size: 30px; */
    /* margin-right: 50px; */
    /* display: flex; */
    /* flex-direction: column; */
/* } */ 
/* .s2n1{
    background-color: aquamarine;
    width: 20vw;
    margin-right: 20px;
} */
/* .s2g1{
    background-image: url(img/Group\ 5.png);
} */
/* .s2n1 p{
    font-size: 23px;
} */

.s2t1{
    top: 120px;
    right: 100px;
}
.s2t2{
    top: 800px;
    right: 100px;
}
.s2t3{
    top: 950px;
    right: 100px;
}
.s2t4{
    top: 1100px;
}
.s2t5{
    top: 1600px;
    right: 500px;
}

.highlight{
    color: #BC2B2B;
    font-size: 48px;
}
.s2t6{
    top: 1700px;
    right: 100px;
}
.s2t7{
    top: 2100px;
}
.s2img{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    right: 170px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url(img/IMG_5219.jpg);
}

/* .scene3{
    margin-top:0;
    position: relative;
    clear:both;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 70px;
}
.s3t1{
    float: right;
    font-size: 30px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    ;
}
.s3n1{
    align-items: flex-end;
    background-color: aquamarine;
}
.s3t2{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: white;
  margin-right: 500px;
  margin-left: 500px;
} */
.scene4 {
    /* margin-top: 40vw; */
    position: relative;
    clear: both;
    /* flex-direction: column;
    padding-right: 70px; */
}
.scene4yoko{
    display: flex;
    justify-content: center;
}

.s4t1, .s4t2, .s4t3 {
    font-size: 64px;
    
}
.s4t1{
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    transform: translateY(40%);
    transform: translateX(-30%);
}
.s4t1::before{
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-10%);
    transform: translateY(20%);
    color: #f4efd4;
    font-size: 90px;
    content: 'recycle';
    z-index: -1;
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
}
.s4t2{
    position: relative;
    margin-top: 200px;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    transform: translateY(40%);
    transform: translateX(-30%);
}
.s4t2::before{
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-10%);
    transform: translateY(20%);
    color: #f4efd4;
    font-size: 90px;
    content: 'education';
    z-index: -1;
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
}
.s4t3{
    position: relative;
    margin-top: 200px;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    transform: translateY(40%);
    transform: translateX(-30%);
}
.s4t3::before{
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-10%);
    transform: translateY(20%);
    color: #f4efd4;
    font-size: 90px;
    content: 'technology';
    z-index: -1;
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
}
.s4n1, .s4n2, .s4n3 {
    /* background-color: aquamarine; */
    width: 600px;
    margin-right: 20px;
    transform: translateX(-33%);
}

.s4n1 p, .s4n2 p, .s4n3 p {
    font-size: 23px;
}
.s4i1{
    background-image: url(img/IMG_5219.jpg);
    width:200px;
    height: 200px;
    border-radius:50%;
    background-position: center;
    background-size: cover;
}
.s4i2{
    background-image: url(img/IMG_5220.jpg);
    width:200px;
    height: 200px;
    border-radius:50%;
    background-position: center;
    background-size: cover;
}
.s4i3{
    background-image: url(img/IMG_5221.jpg);
    width:200px;
    height: 200px;
    border-radius:50%;
    background-position: center;
    background-size: cover;
}
.s5t0{
    display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: white;
  margin-right: 500px;
  margin-left: 500px;
}
.s5t1s1{
    display: flex;
    justify-content: center;
}
.s5h1{
    background-color: white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.s5h2{
    background-color: white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}.s5h3{
    background-color: white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.s5y1{
    display: flex;
}
.s5t2{
    justify-content: center;
    font-size: 27px;
}
.s5t22{
    font-weight: bold;
    font-size: 48px;
    margin-top: 15px;
}
.s5n1{
    margin-top: 35px;
    font-size: 23px;
}
.s5t3{
    justify-content: center;
    font-size: 27px;
}
.s5t33{
    font-weight: bold;
    font-size: 48px;
    margin-top: 15px;
}
.s5n2{
    margin-top: 35px;
    font-size: 23px;
}
.s5t4{
    justify-content: center;
    font-size: 27px;
}
.s5t44{
    font-weight: bold;
    font-size: 48px;
    margin-top: 15px;
}
.s5n3{
    margin-top: 35px;
    font-size: 23px;
}
/* 分からないこと
    javaのrotateがそもそも機能しない
    全部右寄りになってしまうaaaa */
.scene5{
    margin-top: 200px;
    height: 2500px;
    position: relative;
}
.s5t1{
    top: 0px;
}
.s5t2{
    top: 300px;
    left: 200px;
}
.circle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #fff;
    padding: 80px;
}
.circletext1{
    font-size: 24px;
}
.circletext2{
    font-size: 42px;
}
.circletext3{
    font-size: 24px;
    margin-top: 50px;
}

.s5h1{
    top: 900px;
    left: 300px;
}
.s5h2{
    top: 1300px;
    left: 700px;
}
.s5h3{
    top: 700px;
    left: 800px;
}
.s5t3{
    text-align: center;
    top: 1900px;
    left: 50%;
    transform: translateX(-50%);
}


/* ふわっとさせるためのもの */
.floattext {
	opacity: 0;
	transform: translateY(5px);
	transition: opacity 1.5s, transform 0.5s;
}.floattext.active {
	opacity: 1;
	transform: translateY(0px);
}